* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}



body {}




.app-container {
    width: 100%;
    height: 100vh;
    background-color: #202c33;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.splash-page {
    position: absolute;
    width: 40%;
    z-index: 998;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    animation: myAnim 2s ease 0s 1 normal forwards;
}


.splash-page svg {
    width: 100%;
    height: auto;
}


.splash-page-visible {
    visibility: visible;
    opacity: 1;
}

@keyframes myAnim {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}



.app-box {
    width: 86%;
    min-width: 760px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    overflow: hidden;
}




.user-section {
    width: 35%;
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}



.chat-section {
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
    background-position: center;
    position: relative;
}


.welcome-message {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #6B7376;
    padding: 12px;
}


.welcome-message h2 {
    font-weight: 600;
    font-size: 2rem;
}

.hiddenwelcome {
    display: none;
}


.user-info {
    width: 100%;
    height: 62px;
    background-color: #EAEAEA;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #B1B1B1;
}


.user-details {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.user-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}


.user-image img {
    width: 100%;
    height: auto;
}


.user-options {
    padding: 4px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.user-options i {
    margin: 8px;
    padding: 4px;
    cursor: pointer;
    color: #B1B1B1;
}





.notification {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 10px;
    background-color: #8EDAFC;
}


.notification-icon {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8EDAFC;
    font-size: 1.2rem;
}




.notification-text {
    width: 100%;
}


.notification-text span {
    display: block;
}



.search {
    width: 100%;
    padding: 8px 10px;
    background-color: #EAEAEA;
    position: relative;
}


.search input {
    width: 100%;
    padding: 6px 46px;
    border: 0px;
    border-radius: 4px;
}


.search input:focus {
    outline: none;
}

.search i {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: #B1B1B1;
    cursor: pointer;
}



.user-contacts {
    width: 100%;
    flex-grow: 1;
    cursor: pointer;
    overflow: auto;
    background-color: #fff;
}


.user-contacts::-webkit-scrollbar {
    width: 8px;
    background-color: #B1B1B1;
}


.user-contacts::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: #EAEAEA;
    border-radius: 8px;
}


.contact-box {
    width: 100%;
    padding: 6px 10px;
    border-top: 1px solid #B1B1B1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.contact-details {
    width: 100%;
    padding: 4px;
}

.contact-details span {
    display: block;
}


.last-message {
    color: #B1B1B1;
    margin-top: 2px;
}

.contact-date {
    color: #6B7376;
    font-size: 0.7rem;
    text-align: right;
    margin-top: 4px;
}

.selected {
    background-color: #EAEAEA;
}




.chat-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}

.chatshow {
    display: block;
}

.chat-nav {
    width: 100%;
    height: 62px;
    padding: 4px 10px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.chat-user-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.chat-user-details i:nth-child(1) {
    margin-right: 10px;
    font-size: 0.8rem;
    color: #B1B1B1;
    cursor: pointer;
    padding: 4px;
}


.chat-user-text span {
    display: block;
}

.chat-user-text span:nth-child(2) {
    color: #B1B1B1;
    font-size: 0.9rem;
}



.chat-user-options {
    padding: 4px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.chat-user-options i {
    margin: 8px;
    padding: 4px;
    cursor: pointer;
    color: #B1B1B1;
}



.chat-display {
    width: 100%;
    height: calc(100% - 124px);
    flex-grow: 1;
    padding: 20px 34px;
    overflow: auto;
}


.chat-display::-webkit-scrollbar {
    width: 8px;
    background-color: #B1B1B1;
}


.chat-display::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: #EAEAEA;
    border-radius: 8px;
}

.message-box {
    width: 100%;
    padding: 24px;
    display: flex;
}


.message {
    padding: 6px 10px;
    border-radius: 6px;
    max-width: 80%;
    position: relative;
}



.message-text {
    margin-right: 22px;
    display: block;
    word-break: normal;
}


.message-date {
    font-size: 0.6rem;
    display: block;
    text-align: right;
    margin-top: 6px;
    color: #B1B1B1;
}


.message i {
    position: absolute;
    right: -6px;
    opacity: 0;
    color: #B1B1B1;
    top: 6px;
    cursor: pointer;
    font-size: 1.4rem;
    transition: all 0.1s ease;
    pointer-events: none;
}


.message:hover i {
    right: 8px;
    opacity: 1;
    pointer-events: all;
}


.message-menu {
    background-color: #fff;
    min-width: 160px;
    border-radius: 6px;
    position: absolute;
    right: -16px;
    top: 28px;
    visibility: hidden;
    opacity: 0;
    scale: 0;
    overflow: hidden;
    z-index: 1000;
    transition: all 0.2s ease-out;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.48);
}


.message-menu ul {
    list-style: none;
}


.message-menu ul li {
    padding: 6px 12px;
    cursor: pointer;
    border-bottom: 1px solid #EAEAEA;
}

.message-menu ul li:hover {
    background-color: #EAEAEA;
}


.chat-menu {
    top: 46px;
    right: -2px;
}


.showmenu {
    visibility: visible;
    opacity: 1;
    scale: 1;
}


.my-message {
    background-color: #D5F9BA;
}

.my-message-position {
    justify-content: flex-end;
}

.contact-message {
    background-color: #fff;
}


.chat-input {
    width: 100%;
    height: 62px;
    padding: 0px 62px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-input input {
    flex-grow: 1;
    margin: 32px;
    padding: 12px 24px;
    border-radius: 6px;
    border: 0px;
}


.chat-input input:focus {
    outline: none;
}


.chat-input i {
    font-size: 1.2rem;
    color: #6B7376;
    cursor: pointer;
}


.send-icon {
    display: none;
}


.removeicon {
    display: none;
}


.addicon {
    display: block;
}


i:hover {
    color: #6B7376;
    transition: all 0.2s ease;
}




@media (max-width: 768px) {
    .app-container {
        display: flex;
        width: 100vw;
    }


    .splash-page {
        width: 80%;
    }


    .app-box {
        width: 100%;
        height: 100%;
        min-width: 0px;
        position: relative;
    }

    .chat-section {
        min-width: 200px;
    }


    .chat-input {
        padding: 0px 24px;
    }

    .chat-input input {
        flex-grow: 0;
        margin: 0px 8px;
    }

}



@media (max-width: 644px) {


    .chat-section {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .chat-box {
        visibility: visible;
        background-image: url(../img/mine.jpg);
        background-position: center;
    }

    .user-section {
        min-width: 300px;
        width: 100%;
    }

}