* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    color: black;
}


.clearfix::after {
    content: '';
    clear: both;
    display: table;
}


.app-container {
    width: 100%;
    height: 100vh;
    background-color: #202c33;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.app-box {
    width: 86%;
    min-width: 760px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    overflow: hidden;
}




.user-section {
    width: 35%;
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}



.chat-section {
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
    background-position: center;
}


.user-info {
    width: 100%;
    height: 62px;
    background-color: #EAEAEA;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #B1B1B1;
}


.user-details {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.user-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}


.user-image img {
    width: 100%;
    height: auto;
}


.user-options {
    padding: 4px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.user-options i {
    margin: 8px;
    padding: 2px;
    cursor: pointer;
    color: #B1B1B1;
}





.notification {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 10px;
    background-color: #8EDAFC;
}


.notification-icon {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8EDAFC;
    font-size: 1.2rem;
}




.notification-text {
    width: 100%;
}


.notification-text span {
    display: block;
}



.search {
    width: 100%;
    padding: 8px 10px;
    background-color: #EAEAEA;
    position: relative;
}


.search input {
    width: 100%;
    padding: 6px 46px;
    border: 0px;
    border-radius: 4px;
}


.search input:focus {
    outline: none;
}

.search i {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: #B1B1B1;
    cursor: pointer;
}



.user-contacts {
    width: 100%;
    flex-grow: 1;
    cursor: pointer;
    overflow: auto;
    background-color: #fff;
}



.contact-box {
    width: 100%;
    padding: 6px 10px;
    border-top: 1px solid #B1B1B1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.contact-details span {
    display: block;
}


.last-message {
    color: #B1B1B1;
    margin-top: 2px;
}

.selected {
    background-color: #EAEAEA;
}




.chat-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}

.chatshow {
    display: block;
}

.chat-nav {
    width: 100%;
    height: 62px;
    padding: 4px 10px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.chat-user-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.chat-user-text span {
    display: block;
}

.chat-user-text span:nth-child(2) {
    color: #B1B1B1;
    font-size: 0.9rem;
}



.chat-user-options {
    padding: 4px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.chat-user-options i {
    margin: 8px;
    padding: 2px;
    cursor: pointer;
    color: #B1B1B1;
}



.chat-display {
    width: 100%;
    height: calc(100% - 124px);
    flex-grow: 1;
    padding: 20px 26px;
}

.message-box {
    width: 100%;
    padding: 10px;
    display: flex;
}


.message {
    padding: 6px 10px;
    border-radius: 6px;
    max-width: 80%;
}


.message-text {
    margin-right: 16px;
    display: block;
    word-break: normal;
}


.my-message {
    background-color: #D5F9BA;
}

.my-message-position {
    justify-content: flex-end;
}

.contact-message {
    background-color: #fff;
}


.chat-input {
    width: 100%;
    height: 62px;
    padding: 0px 62px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-input input {
    flex-grow: 1;
    margin: 32px;
    padding: 12px 24px;
    border-radius: 6px;
    border: 0px;
}


.chat-input input:focus {
    outline: none;
}


.chat-input i {
    font-size: 1.2rem;
    color: #6B7376;
    cursor: pointer;
}





@media (max-width: 768px) {
    .app-container {
        justify-content: flex-start;
    }


    .app-box {
        margin: 0 20px;
    }
}