<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp</title>
</head>

<body>


    <div id="app">

        <div class="app-container">

            <div class="app-box">

                <div class="user-section">
                    <div class="user-info">
                        <div class="user-details">
                            <div class="user-image">
                                <img src="./img/avatar_io.jpg" alt="io">
                            </div>
                            <span>Username</span>
                        </div>
                        <div class="user-options">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="notification">
                        <div class="notification-icon user-image">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notification-text">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <span><a href="#">Attiva notifiche desktop</a></span>
                        </div>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchContacts">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="user-contacts">
                        <div class="contact-box" :class="i === currentId ? 'selected' : ''"
                            v-for="(element, i) in contactsFilter" @click="selectedContact(contactsFilter[i].id, i)">
                            <div class="contact-image user-image">
                                <img :src="contactsFilter[i].avatar" :alt="contactsFilter[i].name">
                            </div>
                            <div class="contact-details">
                                <span>{{contactsFilter[i].name}}</span>
                                <span class="last-message">{{messageFilter(element).message}}</span>
                                <span
                                    class="contact-date">{{contactsFilter[i].messages[contactsFilter[i].messages.length
                                    -1].date}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chat-section">
                    <div class="welcome-message">
                        <h2 :class="{hiddenwelcome : isVisible}">Scegli un contatto dall lista per visulaizzare la chat
                        </h2>
                    </div>
                    <div class="chat-box" :class="{chatshow : isVisible}">
                        <div class="chat-nav">
                            <div class="chat-user-details">
                                <i class="fa-solid fa-arrow-left" @click="removeChatDisplay()"></i>
                                <div class="chat-user-image user-image">
                                    <img :src="contacts[currentId].avatar" :alt="contacts[currentId].name">
                                </div>
                                <div class="chat-user-text">
                                    <span>{{contacts[currentId].name}}</span>
                                    <span>Ultimo accesso</span>
                                </div>
                            </div>
                            <div class="chat-user-options">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div class="chat-display">
                            <div class="message-box"
                                :class="contacts[currentId].messages[i].status === 'received' ? '' : 'my-message-position'"
                                v-for="(element, i) in contacts[currentId].messages">
                                <span class="message"
                                    :class="contacts[currentId].messages[i].status === 'sent' ? 'my-message' : 'contact-message'">
                                    <span class="message-text">{{contacts[currentId].messages[i].message}}</span>
                                    <span class="message-date">{{contacts[currentId].messages[i].date}}</span>
                                    <i class="fa-solid fa-angle-down" @click="showMessageMenu(i, element)"></i>
                                    <div class="message-menu" :class="i === currentMessage ? 'showmenu' : ''">
                                        <ul>
                                            <li>Message info</li>
                                            <li @click="deleteMessage(i)">Delete message</li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="chat-input">
                            <i class="fa-regular fa-face-smile"></i>
                            <input type="text" placeholder="Scrivi un messaggio" v-model.trim="typedMessage"
                                @keyup.enter="sendNewMessage()">
                            <i class="fa-solid fa-microphone" :class="{removeicon : send}"></i>
                            <i class="fa-solid fa-paper-plane send-icon" :class="{addicon : send}"
                                @click="sendNewMessage()"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <script src="./js/app.js"></script>
</body>

</html>